.container {
  max-width: 1200px;
  padding: 0 auto;
  margin: auto;
  overflow: hidden; }

.text-center {
  text-align: center; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

a {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "News Cycle", sans-serif; }

#navbar {
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh; }
  #navbar .logo {
    color: #fff;
    padding: 0.5rem 3rem;
    font-family: "cinzel decorative", cursive;
    font-size: 2rem;
    text-decoration: none; }
    #navbar .logo:hover {
      color: #cccccc; }
  #navbar ul {
    list-style: none;
    margin-right: 3rem; }
    #navbar ul li {
      color: #fff;
      display: inline-block;
      margin: 1rem 3rem;
      position: relative;
      font-size: 1.1rem; }
      #navbar ul li a {
        color: #fff; }
      #navbar ul li ul {
        display: none; }
        #navbar ul li ul li {
          border-left: transparent 2px solid; }
          #navbar ul li ul li a {
            color: #ddd; }
      #navbar ul li:hover {
        cursor: pointer;
        z-index: 1; }
        #navbar ul li:hover a {
          color: #ddd; }
        #navbar ul li:hover ul {
          display: block;
          position: absolute;
          left: -50%;
          width: 200%;
          background: #333;
          text-align: center;
          margin-bottom: 0.5rem; }
          #navbar ul li:hover ul li {
            display: block;
            font-size: 1.1rem;
            padding: 0 0 0 0.5rem;
            margin: 0.5rem 0; }
            #navbar ul li:hover ul li:hover, #navbar ul li:hover ul li.current {
              border-color: #fff; }
              #navbar ul li:hover ul li:hover a, #navbar ul li:hover ul li.current a {
                color: #fff; }

#home-articles {
  padding-top: 7rem; }
  #home-articles .articles-container {
    height: 450px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    transition: visibility 2s;
    padding: 2rem; }
    #home-articles .articles-container a:hover .text {
      visibility: visible;
      letter-spacing: 1.5px; }
      #home-articles .articles-container a:hover .text h4 {
        font-weight: 100;
        letter-spacing: 0.9px; }
    #home-articles .articles-container .card {
      position: relative;
      width: 100%;
      height: 100%;
      transition: all 1s;
      border-radius: 2px; }
      #home-articles .articles-container .card:hover {
        height: 120%; }
      #home-articles .articles-container .card-drone {
        background: url("../img/drone.jpg") no-repeat center center/cover; }
      #home-articles .articles-container .card .text {
        visibility: hidden;
        position: absolute;
        width: 100%;
        bottom: 4rem;
        border-left: 0.2rem solid #fff;
        padding-left: 5px;
        color: #111;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)); }

.header-drone {
  height: 100vh;
  width: auto;
  overflow: hidden; }
  .header-drone #navbar {
    height: 7vh;
    z-index: 1;
    position: sticky;
    top: 0; }
    .header-drone #navbar ul li ul {
      z-index: 1; }
  .header-drone .image-container {
    background: url("../img/drone.jpg") no-repeat center center/cover;
    position: absolute;
    top: 7vh;
    left: 0;
    height: 93vh;
    width: 100%;
    z-index: 0;
    overflow: hidden; }

#subtitle-btns {
  margin-bottom: 4rem;
  padding: 1rem 3rem;
  background: #333; }
  #subtitle-btns div {
    margin: auto;
    display: flex;
    justify-content: center; }
    #subtitle-btns div a {
      color: #fff;
      margin: 0 2rem; }
      #subtitle-btns div a:hover {
        color: #cccccc; }

.drone-article {
  position: relative;
  padding: 0 4rem;
  text-align: center; }
  .drone-article .date {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0; }
    .drone-article .date div {
      border-bottom: 1.4px #111 solid; }
      .drone-article .date div:last-child {
        border-bottom: transparent; }
  .drone-article .section-title {
    font-size: 2rem;
    display: block;
    padding-bottom: 0.3rem;
    text-transform: uppercase; }
    .drone-article .section-title-sub {
      font-size: 1.3rem;
      text-transform: none; }
  .drone-article-body {
    padding: 1.4rem 0;
    margin-bottom: 2rem;
    position: relative;
    height: 100%; }
    .drone-article-body .drone-article-text {
      height: 100%; }
      .drone-article-body .drone-article-text div h3 {
        padding: 4px 7px 20px 7px;
        margin-top: 3rem;
        border-top: #111 solid 1px; }
      .drone-article-body .drone-article-text p {
        margin-bottom: 1rem;
        font-size: 1.2rem; }

@media (max-width: 1024px) {
  #navbar,
  .header-drone #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 14vh; }
    #navbar .logo,
    .header-drone #navbar .logo {
      padding-bottom: 2rem; }
    #navbar ul li,
    .header-drone #navbar ul li {
      margin: 0 35px; }
      #navbar ul li:hover ul,
      .header-drone #navbar ul li:hover ul {
        z-index: 1; }
  #home-articles {
    padding-top: 0; }
    #home-articles .articles-container .card {
      height: 400px; }
  .header-drone .image-container {
    background: url("../img/drone-full.jpg") no-repeat center center/cover;
    position: absolute;
    top: 14vh; }
  .drone-article {
    padding: 0 2rem; }
    .drone-article .section-title {
      padding-top: 2rem; }
    .drone-article-body {
      display: block; }
      .drone-article-body .image-container {
        display: none; } }

@media (max-width: 800px) {
  #home-articles .articles-container .card {
    height: 300px; } }

@media (max-width: 500px) {
  #navbar .logo,
  .header-drone #navbar .logo {
    padding-bottom: 0; }
  #navbar ul,
  .header-drone #navbar ul {
    margin: 0; }
    #navbar ul li,
    .header-drone #navbar ul li {
      margin: 0 10px;
      font-size: 1rem; }
  #home-articles {
    padding-top: 1rem; }
    #home-articles .articles-container .card {
      height: 120px; }
  .header-drone {
    margin-bottom: 2.8rem; }
  #subtitle-btns div a {
    display: block; } }

@media (max-width: 350px) {
  #navbar ul li,
  .header-drone #navbar ul li {
    margin: 5px; }
  .header-drone {
    margin-bottom: 2rem; } }

@media (max-height: 580px) and (min-width: 500px) {
  #navbar,
  .header-drone #navbar {
    height: 24vh; }
    #navbar .logo,
    .header-drone #navbar .logo {
      padding-bottom: 0; }
  #home-articles .articles-container .card {
    height: 150px; }
  .header-drone .image-container {
    background: url("../img/drone.jpg") no-repeat center center/cover;
    top: 8vh; }
  .drone-article-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .drone-article-body div {
      width: 100%; }
      .drone-article-body div .image-container {
        display: inline-block;
        margin-left: 0;
        max-height: 500px; } }
